body {
    margin: 0px;
    position: relative;
}
html{
  padding: 0px;

}
.sub{
height: 100%
}
.topnav {
    /* position: fixed; */
    background-color:black;
    overflow: hidden;
    color : white;
    top: 0;
    width: 100%;
  }
               
  #first {
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }

    footer {
        bottom: 0;
        text-align: center;
        padding: 3px;
        background-color: grey;
        color: black;
      }                
                                                                        
    h1 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    }
                                                      
    h2 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    }
                                                                       
    h3 {
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    }

    @media screen and (max-width: 800px) {
        .left, .right {
          width: 100%;
        }
    }
          
      
    @media screen and (max-width: 400px) {
            .left, .right {
              width: 100%;
            }
        }

        .section-container {
          display: flex;
         

        }

        img {
          display: inline-block;
          margin: -10px 10px 15px 0;

        }
        .section-paragraph{
          margin-top: -30px;
        }

   p{
     line-height: 20px;
     /* text-indent: 20px;
     line-height: 1.8; */

   }     


